@charset "UTF-8";

a.button{
	text-decoration: none;		/* 下線削除 */	
}

.button {
	display       : inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 6px 8px;   /* 余白       */
	background    : #000066;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	border        : 2px solid #000066;    /* 枠の指定 */
}
.button:hover {
	color         : #000066;     /* 背景色     */
	background    : #ffffff;     /* 文字色     */
}

.card {
	border: 2px solid black;
	padding: 20px;
	text-align: center;
}

.red {
	color: red;
}

.game_button {
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 8px;   /* 余白       */
  background    : #ff4d4d;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ff4d4d;    /* 枠の指定 */
}
.game_button:hover {
  color         : #ff4d4d;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.game_text {
	font-size     : 20pt;
	text-align    : center;
}

.player {
	font-size     : 20pt;
}

#logout {
	text-align: right;
}

#message {
	color: red;
}

#player_message {
	display       : inline-block;
	border-radius : 50%;          /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	padding       : 6px 8px;   /* 余白       */
	background    : #ff4d4d;     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	border        : 2px solid #ff4d4d;    /* 枠の指定 */
}
/* https://webparts.cman.jp/button/a/ */